.wrapperBag {
  border: solid 1px #9c9c9c;
}

.bag {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .bag {
    flex-direction: column;
  }
}

.items {
  width: 70%;
}

.summary {
  width: 30%;
}

@media (max-width: 992px) {
  .items,
  .summary {
    width: 100%;
  }
}

.ProductsTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #333333;
  margin-right: 2rem;
  padding-bottom: 20px;
}

@media (max-width: 992px) {
  .ProductsTitle {
    margin-right: 0;
  }
}

.ProductsTitle h2,
p {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;

  color: #333333;
}

.ProductsTitle p {
  margin: 0;
}

.ProductDetail {
  padding-right: 2rem;
}

@media (max-width: 992px) {
  .ProductDetail {
    margin-bottom: 1rem;
    /* display: flex; */
  }
}

.ProductDetailHeader {
  display: flex;
  margin-top: 20px;
}

.ProductDetailHeader h3 {
  color: #4b5563;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
}

.itemInBag {
  display: flex;
  align-items: center;
  /* margin: 10px 20px 10px 0; */
  padding: 16px;
  margin: 10px 0;
}

@media (max-width: 992px) {
  .itemInBag {
    flex-direction: column;
    margin: 1rem 0;
    padding: 0;
  }
}

.itemInBag:hover {
  background-color: #f3f4f6;
}

.fitemInBagWrapper {
  display: flex;
  width: 40%;
}

@media (max-width: 992px) {
  .fitemInBagWrapper {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.photo img {
  display: flex;
  height: 6rem;
  width: 5rem;
}

@media (max-width: 992px) {
  .photo img {
    height: 10rem;
    width: 12rem;
  }
}

.productDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.prodTitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.prodCategory {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #ef4444;
  text-transform: capitalize;
}

.deleteProd {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: #6b7280;
  cursor: pointer;
}

.deleteProd:hover {
  color: #ef4444;
}

.prodAmount {
  display: flex;
  width: 20%;
}

@media (max-width: 992px) {
  .prodAmount {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.prodAmount button {
  width: 0.5rem;
  cursor: pointer;
  fill: currentColor;
  border: none;
  text-decoration: none;
  background: none;
  font-size: larger;
}

.quanity {
  margin-left: 0.5rem;
  margin-right: 0.1rem;
  border-width: 1px;
  width: 2rem;
  text-align: center;
}

.price {
  width: 20%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 992px) {
  .price {
    justify-content: center;
    padding-bottom: 1rem;
  }
}

.ConShop {
  margin-right: 0.5rem;
  width: 1rem;
  color: #4f46e5;
  fill: currentColor;
  text-decoration: none;
}

/*summaryDetails*/

.summaryTitle h2 {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: #333333;
}

.summaryTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #333333;
  margin-right: 2rem;
  padding-bottom: 20px;
}

.summaryDetails {
  display: flex;
  /* margin-bottom: 1.25rem;  */
  margin-top: 20px;
  justify-content: space-between;
}

.Shipping {
  display: inline-block;
  /* margin-bottom: 0.75rem;  */
  margin: 0.75rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}

.selectStandard {
  display: block;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4b5563;
  border: none;
}

.promo {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.promo label {
  display: inline-block;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 10px;
}

.promo input {
  padding: 0.5rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1rem;
}

.ApplyButton {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ef4444;
  border: none;
  cursor: pointer;
}

.ApplyButton:hover {
  background-color: #dc2626;
}

.totalCost {
  margin-top: 2rem;
  border-top: solid 1px #9c9c9c;
}

.itemsCost {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.totalCost button {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #6366f1;
  border: none;
}

.totalCost button:hover {
  background-color: #4f46e5;
}
