@import url("https://fonts.cdnfonts.com/css/circe");

.HeaderMenu {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 60px 0;
}

.HeaderMenuLogo {
  display: flex;
  align-items: center;
}

.HeaderMenuLogo button {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.HeaderMenuLogo a {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0 20px;
  line-height: 140%;
  text-decoration: none;
  color: #333333;
}