

.categoryMenu {
    margin-bottom: 60px;
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  
  .categoryMenuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  @media (max-width: 992px) {
    .categoryMenuList {
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
  }

.categoryMenuList li {
  list-style: none;
  margin-right: 50px;
}

@media (max-width: 992px) {
    .categoryMenuList li {
        margin: 0;
        padding: 8px 0;
    }
  }

.categoryMenuList li a {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
}

.categoryMenuList li a:hover {
    color: #d8bc9b;
    transition: color 0.1s linear;
}

.categoryMenuList li a:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #d8bc9b;
    opacity: 0;
    position: absolute;
    left: 0; bottom: -5px;
    z-index: 1;
    transition: opacity 0.1s linear;
}

.categoryMenuList li a:hover:after {
    opacity: 1;
}