.products {
  /* padding: 4rem 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  gap: 24px;
}

.card {
  width: 306px;
  height: 404px;
  border: 2px solid #74747444;
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  text-decoration: none;
}

@media (max-width: 992px) {
  .card {
    width: 272px;
    height: 360px;
  }
}

.card a {
  text-decoration: none;
}

.card img {
  width: 304px;
  height: 220px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  .card img {
    width: 270px;
    height: 220px;
  }
}

.card p {
  margin: 30px 0 25px 0;
  text-align: center;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #333333;
}

@media (max-width: 992px) {
  .card p {
    margin: 20px 0 25px 0;
    font-size: 18px;
  }
}

.card h2 {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #333333;
  align-items: center;
}

@media (max-width: 992px) {
  .card h2 {
    font-size: 28px;
  }
}

.addToBasket {
  width: 113px;
  height: 42px;
  background: #b59571;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  cursor: pointer;

  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;

  /* white */
  color: #ffffff;
}

/* @media (max-width: 992px) {
  .card button {
    font-size: 14px;
  }
} */

.priceAndBasket {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  left: 0;
  bottom: 30px;
}
