.footerInfo {
  /* height: 50px; */
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  color: #fff;
  align-items: center;
  padding: 24px 0;
  /* margin-top: auto; */
}

.footerInfo p {
  margin: 0;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

@media (max-width: 992px) {
  .footerInfo {
    display: block;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .footerInfo p {
    margin-top: 10px;
  }
}
